<div class="layer-selection-component" [ngClass]="{'wrapper-active': isActive}">
    <button class="layer-selection-button" mat-fab color="primary" [ngClass]="{'button-active': isActive}" (click)="transformMaterial($event)">
		<mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
	</button>
    <div class="expansion-layers-panel" [ngClass]="isActive ? 'expansion-panel__expansed' : 'expansion-panel__collapsed'">
        <mat-toolbar color="primary">
            <mat-toolbar-row fxLayout="row">
                <span>Управление слоями</span>
                <span fxFlex="100%"></span>
                <button mat-icon-button>
                   	<mat-icon aria-label="Close dialog">close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</div>