<div class="layer-selection-component" [ngClass]="{'wrapper-active': isActive}">
    <button class="layer-selection-button" mat-fab color="primary" [ngClass]="{'button-active': isActive}" (click)="transformMaterial($event)">
    <mat-icon>layers</mat-icon>
  </button>
    <div class="expansion-layers-panel mat-elevation-z5" [ngClass]="isActive ? 'expansion-panel__expansed' : 'expansion-panel__collapsed'">
        <mat-toolbar color="primary">
            <mat-toolbar-row fxLayout="row">
                <span>Управление слоями</span>
                <span fxFlex="100%"></span>
                <button mat-icon-button (click)="transformMaterial($event)">
          <mat-icon aria-label="Close dialog">close</mat-icon>
        </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Базовые слои
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-grid-list cols="3" rowHeight="92" gutterSize="4">
                    <mat-grid-tile *ngFor="let tile of baseLayers" [colspan]="1" [rowspan]="1" [ngSwitch]="tile.imageType" (click)="changeBaseMapLayer(tile.name)">
                        <div *ngSwitchCase="'pan'" class="tile-plate">
                            <img [src]=tile.images[0] class="tile-plate" />
                            <img [src]=tile.images[1] class="tile-plate" style="position: absolute;top:0;" />
                        </div>
                        <div *ngSwitchCase="'multi'" class="tile-plate">
                            <img [src]=tile.images[0] class="tile-plate" style="position: absolute;top:-50%;left: 0;" />
                            <img [src]=tile.images[1] class="tile-plate" style="position: absolute;top:50%;left: 0;" />
                        </div>
                        <div *ngSwitchCase="'single'" class="tile-plate">
                            <img [src]=tile.images[0] class="tile-plate" />
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Кадастровые слои
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-checkbox *ngFor="let item of cadastrOverLayers" (change)="cadastrOverLayerChecked($event, item)" [(ngModel)]="item.visible">{{item.name}}</mat-checkbox>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Геометрия
                    </mat-panel-title>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>