<form class="dark-theme" [style.width]="(activeMediaQuery === 'xs') ? '100%' : '340px'">
    <mat-form-field color="white" [style.width]="(activeMediaQuery === 'xs') ? 'calc(100% - 60px)' : '280px'">
        <input class="pkk-search" color="white" style="font-size: 16px;line-height: 16px;" matInput placeholder="поиск" aria-label="State" (keypress)="stopOnEnterPress($event)" [matAutocomplete]="auto" [formControl]="pkkCtrl">
        <button *ngIf="pkkCtrl.value" matSuffix mat-icon-button aria-label="Clear" color="white" (click)="clearAutocomplete()">
            <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let cadObj of filteredPkkObject | async" [value]="cadObj.value" (onSelectionChange)="forceSeacheCadObject(cadObj)" [disabled]="cadObj && cadObj.type === 'warn' ">
                <span>{{ cadObj.value }}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field style="width:60px;">
        <mat-select placeholder="" [(ngModel)]="activeSearchProvider" name="food">
            <mat-option *ngFor="let provider of seachProviders" [value]="provider">
                {{provider.displayName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>