<form class="dark-theme" [style.width.px]="340">
    <mat-form-field class="search-autocomplete-form" color="white" [style.width.px]="280">
        <input class="pkk-search" color="white" style="font-size: 16px;line-height: 16px;" matInput placeholder="поиск по кадастровым номерам" aria-label="State" (keypress)="stopOnEnterPress($event)" [matAutocomplete]="auto" [formControl]="pkkCtrl">
        <button *ngIf="pkkCtrl.value" matSuffix mat-icon-button aria-label="Clear" color="white" (click)="clearAutocomplete()">
      <mat-icon>close</mat-icon>
    </button>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let cadObj of filteredPkkObject | async" [value]="cadObj.value" (onSelectionChange)="forceSeacheCadObject(cadObj)" [disabled]="cadObj && cadObj.type === 'warn' ">
                <span>{{ cadObj.value }}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field style="width:60px;" class="search-autocomplete-form">
        <mat-select placeholder="" [(ngModel)]="activeSearchProvider" name="first">
            <mat-option *ngFor="let provider of avaliableProvidersData" [value]="provider" style="font-size:14px;"> {{provider.labelName}} </mat-option>
        </mat-select>
    </mat-form-field>
</form>