<!-- <div color="white" class="toolbar header-feature-info-elements" fxLayout="row" fxLayoutAlign="space-between center">
  <ng-container *ngIf="feature">
    <label class="selected-elements-counter ">Кадастровый номер: {{ feature.cn }}</label>
  </ng-container>
</div> -->

<mat-tab-group class="attribute-tabs" #tabs>
    <mat-tab label="Атрибуты">
        <ng-container *ngIf="feature">
            <form class="feature-info-elements" dnd-sortable-container [sortableData]="activeLayer.attributeColumns" [formGroup]="orderForm">
                <ng-container *ngFor='let column of activeLayer.attributeColumns; let keyIndex = index'>
                    <div fxLayout="row" class="feature-info-elements_element" [ngClass]="{'zebra': keyIndex %2 !== 0}" dnd-sortable [sortableIndex]="keyIndex" (onDragEnd)="updateOrder($event)">
                        <mat-icon dnd-sortable-handle *ngIf="editMode" style="margin: auto;">import_export</mat-icon>
                        <label class="feature-attribute-key">{{column.label}}</label>
                        <!-- РЕЖИМ ПРОСМОТРА АТРИБУТОВ -->
                        <ng-container *ngIf="!editMode">
                            <ng-container *ngIf="column.columnType === 'findBoolean'">
                                <label class="feature-attribute-value" *ngIf="feature[column.name]">Да</label>
                                <label class="feature-attribute-value" *ngIf="!feature[column.name] && feature[column.name] !== false">Нет значения</label>
                                <label class="feature-attribute-value" *ngIf="feature[column.name] === false">Нет</label>
                            </ng-container>
                            <ng-container *ngIf="column.columnType === 'findMany'">
                                <div class="feature-attribute-value">
                                    <ng-container *ngFor="let fyndManyItem of feature[column.name]; let i = index">
                                        <label>{{i+1}}) {{fyndManyItem.description}} </label>
                                        <br/>
                                    </ng-container>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="column.columnType === 'findOne'">
                                <div class="feature-attribute-value">
                                    <ng-container *ngFor="let fyndManyItem of feature[column.name];">
                                        <label>{{fyndManyItem.description}} </label>
                                        <br/>
                                    </ng-container>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="column.columnType === 'findSimple'">
                                <div *ngIf="linkDetector(feature[column.name])" class="feature-attribute-value">
                                    <a href="{{feature[column.name]}}">{{feature[column.name]}}</a>
                                </div>
                                <label *ngIf="!linkDetector(feature[column.name])" class="feature-attribute-value"> {{feature[column.name]}} </label>
                            </ng-container>
                            <ng-container *ngIf="column.columnType === 'findNumber'">
                                <label class="feature-attribute-value"> {{feature[column.name]}} </label>
                            </ng-container>
                            <ng-container *ngIf="column.columnType === 'findDate'">
                                <label class="feature-attribute-value">{{ feature[column.name] | date:"dd.mm.yyyy"}} </label>
                            </ng-container>
                        </ng-container>

                        <!-- РЕЖИМ РЕДАКТИРОВАНИЯ АТРИБУТОВ -->

                        <ng-container *ngIf="editMode">
                            <ng-container *ngIf="column.columnType === 'findSimple' || column.columnType === 'findNumber'">
                                <mat-form-field class="feature-attribute-value">
                                    <input matInput [value]="feature[column.name]" [formControlName]="column.name" [attr.maxlength]="(column.dataLength && column.tableType==='varchar' ) ? column.dataLength : false">
                                    <mat-hint *ngIf="column.userFilling">Обязательный атрибут</mat-hint>
                                    <mat-hint align="end" *ngIf="column.dataLength && column.tableType==='varchar'">
                                        <span aria-live="polite" *ngIf="!getFormControl(column.name).value">0 / {{ column.dataLength }}</span>
                                        <span aria-live="polite" *ngIf="getFormControl(column.name).value">{{getFormControl(column.name).value.length}} / {{ column.dataLength }}</span>
                                    </mat-hint>
                                    <mat-hint align="end" *ngIf="column.columnType === 'findNumber'">
                                        <span aria-live="polite" *ngIf="!getFormControl(column.name).value && column.tableType === 'integer'">0 / 20</span>
                                        <span aria-live="polite" *ngIf="getFormControl(column.name).value && column.tableType === 'integer'">{{getFormControl(column.name).value.length}} / 20</span>
                                        <span aria-live="polite" *ngIf="!getFormControl(column.name).value && column.tableType === 'double'">0 / 21</span>
                                        <span aria-live="polite" *ngIf="getFormControl(column.name).value && column.tableType === 'double'">{{getFormControl(column.name).value.length}} / 41</span>
                                    </mat-hint>
                                    <mat-error *ngIf="getFormControl(column.name).hasError('required')">
                                        <strong>Обязательный</strong> атрибут
                                    </mat-error>
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngIf="column.columnType === 'findDate'">
                                <mat-form-field class="feature-attribute-value">
                                    <input matInput [matDatepicker]="picker" [formControlName]="column.name">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </ng-container>

                            <ng-container *ngIf="column.columnType === 'findBoolean'">
                                <mat-checkbox class="feature-attribute-value" [value]="feature[column.name]" disableRipple="true" [formControlName]="column.name"></mat-checkbox>
                            </ng-container>
                            <ng-container *ngIf="column.columnType === 'findMany' || column.columnType === 'findOne'">
                                <mat-form-field class="feature-attribute-value">
                                    <mat-select [ngModel]="feature[column.name]" [multiple]="column.columnType === 'findMany'" [compareWith]="compareFn" [formControlName]="column.name">
                                        <mat-option style="font-size:14px;" *ngFor="let prop of column.avaliableProperties" [value]="prop">{{prop.description}}</mat-option>
                                    </mat-select>
                                    <mat-hint *ngIf="column.userFilling">Обязательный атрибут</mat-hint>
                                </mat-form-field>
                            </ng-container>
                        </ng-container>

                    </div>
                </ng-container>
            </form>
            <div fxLayout="row" fxLayoutAlign="start center">
                <button *ngIf="editMode" mat-icon-button style="margin: auto 16px;" (click)="addAdditionalItem()">
                    <mat-icon>add</mat-icon>
                </button>
                <h4 style="padding-left:16px;">Дополнительные харатеристики</h4>
            </div>
            <form class="feature-info-elements" [formGroup]="additionalForm">
                <!-- РЕЖИМ ПРОСМОТРА АТРИБУТОВ -->
                <ng-container *ngIf="!editMode">
                    <div fxLayout="row" class="feature-info-elements_element" *ngFor='let item of featureAdditionalCharacters; let keyIndex = index' [ngClass]="{'zebra': keyIndex %2 !== 0}">
                        <label class="feature-attribute-value" style="padding:6px;font-size:14px; flex:0.33;">{{item.character_name}}</label>
                        <label class="feature-attribute-value" style="padding:6px;font-size:14px; flex:0.67;">{{item.character_value}}</label>
                    </div>
                </ng-container>
                <!-- РЕЖИМ РЕДАКТИРОВАНИЯ АТРИБУТОВ -->
                <ng-container *ngIf="editMode">
                    <ng-container *ngFor='let item of featureAdditionalCharacters; let keyIndex = index'>
                        <div fxLayout="row" class="feature-info-elements_element" *ngIf="!item.removed">
                            <button *ngIf="editMode" mat-icon-button style="margin: auto 2px;" (click)="removeAdditionalItem(item)">
                                <mat-icon>remove</mat-icon>
                            </button>
                            <mat-form-field class="feature-attribute-value" style="padding:6px;font-size:14px; flex:0.40;">
                                <input matInput [value]="item.character_name" [formControlName]="generateFeatureAdditionalCharactersFormControlName(item.id, 'name')">
                            </mat-form-field>
                            <mat-form-field class="feature-attribute-value" style="padding:6px;font-size:14px; flex:0.60;">
                                <input matInput [value]="item.character_value" [formControlName]="generateFeatureAdditionalCharactersFormControlName(item.id, 'value')">
                            </mat-form-field>
                        </div>
                    </ng-container>
                </ng-container>
            </form>
        </ng-container>
    </mat-tab>
    <mat-tab label="Кадастровая информация">
        <ng-container *ngIf="cadFeature">
            <form class="feature-info-elements">
                <ng-container *ngFor='let column of cadSchema; let keyIndex = index'>
                    <ng-container *ngIf="column.name !== 'area_unit' && column.name !== 'cad_unit' && column.name !== 'area_type' && column.name !== 'rifr'">
                        <div fxLayout="row" class="feature-info-elements_element" [ngClass]="{'zebra': keyIndex %2 !== 0}">
                            <label class="feature-attribute-key">{{column.label}}</label>
                            <ng-container *ngIf="column.name === 'cad_cost'">
                                <label class="feature-attribute-value">{{cadFeature[column.name]}} {{cadFeature['cad_unit']}}</label>
                            </ng-container>
                            <ng-container *ngIf="column.name === 'area_value'">
                                <label class="feature-attribute-value">{{cadFeature['area_type']}} {{cadFeature[column.name]}} {{cadFeature['area_unit']}}</label>
                            </ng-container>
                            <ng-container *ngIf="column.name !== 'cad_cost' && column.name !== 'area_value'">
                                <label class="feature-attribute-value">{{cadFeature[column.name]}}</label>
                            </ng-container>

                        </div>
                    </ng-container>
                </ng-container>
            </form>
        </ng-container>
    </mat-tab>
    <mat-tab label="Лента событий">Content 2</mat-tab>
    <mat-tab label="Фото и изображения">Content 2</mat-tab>
    <mat-tab label="Документы и файлы">Content 2</mat-tab>
    <mat-tab label="Архивные данные">Content 2</mat-tab>


</mat-tab-group>
<mat-card-actions class="attribute-tabs-actions" *ngIf="feature">
    <button mat-button [color]="editMode? 'accent' : 'primary'" (click)="toggleEditMode()">{{ editMode ? 'Отмена' : 'Редактировать'}}</button>
    <button *ngIf="editMode" mat-button [color]="saveEnable ? (differentBetweenInputDataAndInspectFeature || differentBetweenInputDataAndAdditionalFeature) ? 'success' : 'accent' : 'warn'" (click)="saveData()">Сохранить</button>
</mat-card-actions>