<mat-toolbar color="primary" class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row">
        <button *ngIf="activeMediaQuery === 'xs'" mat-icon-button (click)="toggleSideNav()">
            <mat-icon>keyboard_backspace</mat-icon>
            </button>
        <h1 class="filter-toolbar-label">Фильтрация</h1>
    </div>
    <button mat-icon-button (click)="clearFilters()">
    <mat-icon>cached</mat-icon>
  </button>
</mat-toolbar>
<div class="filter-wrapper" fxLayout="column">
    <filter-geometry-first-line [isActive]="isFiltersActive"></filter-geometry-first-line>
    <button class='filter-pane-toggler' mat-raised-button [color]="isResultPaneAvalible ? 'accent' : 'primary'" (click)="changeFilterOrResultPane()">
    {{ isFiltersActive ? 'Показать результаты': 'Назад к фильтрам'}} {{isResultPaneCounts && isFiltersActive? '(' + isResultPaneCounts + ')' : '' }}
  </button>
    <filter-geometry-result-list [ngClass]="isFiltersActive ?'collapsed':'expanded'" [isActive]="!isFiltersActive"></filter-geometry-result-list>
</div>