<div *ngIf="activeLayer && activeLayer.visible" class="light-theme table-wrapper">
    <ng-container *ngFor="let layer of avaliableLayers">
        <ng-container *ngIf="layer.id === activeLayer.id">
            <mat-table class="attribute-table " #table [dataSource]="layer.visibleFeaturesPerPage" matSort #sortVisibleFeaturesPerPage="matSort" [trackBy]="trackByFn" (scroll)="updateTableData(layer, true)" (matSortChange)="sortData($event, layer)" virtualScrollContainer>

                <ng-container matColumnDef="select">
                    <mat-header-cell class="attribute-table_header-cell__checkbox" *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="layer.selectedFeatures.hasValue() && isAllSelected()" [indeterminate]="layer.selectedFeatures.hasValue() && !isAllSelected()"></mat-checkbox>
                    </mat-header-cell>
                    <mat-cell class="attribute-table_rows-cell__checkbox" *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleFeatureSelect(layer, row.id)" [checked]="layer.selectedFeatures.isSelected(row.id)" [disabled]="row.filteFlag" disableRipple="true">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>

                <ng-container *ngFor="let column of layer.columns" matColumnDef="{{column.name}}">

                    <mat-header-cell *matHeaderCellDef [style.width.px]="column.rowWidth" (click)="isResizing? $event.stopPropagation(): '' " gutter (changeColumnSize)="changeColumnSize(column, $event)" attributeDataTableFilter>
                        <attribute-data-table-filter [columnData]='column' [filterDataLayer]="layer" (filterChange)="onColumnFilterChange($event, layer)">
                            <div> {{column.label}}</div>
                        </attribute-data-table-filter>
                    </mat-header-cell>
                    <ng-container *ngIf="column.columnType === 'findBoolean'">
                        <mat-cell *matCellDef="let element" [style.width.px]="column.rowWidth" style="line-height:48px; height: 48px;display: flex;justify-content: center;" [ngClass]="{ 'filter-flag': element.filteFlag }">
                            <label *ngIf="element[column.name]">Да</label>
                            <label *ngIf="!element[column.name] && element[column.name] !== false">Нет значения</label>
                            <label *ngIf="element[column.name] === false">Нет</label>
                        </mat-cell>
                    </ng-container>

                    <ng-container *ngIf="column.columnType === 'findMany'">
                        <mat-cell *matCellDef="let element" [style.width.px]="column.rowWidth" [style.height.px]="48" [style.lineHeight.px]="48" [ngClass]="{ 'filter-flag': element.filteFlag }">
                            <ng-container *ngFor="let fyndManyItem of element['_' + column.name]; let i = index">
                                {{i+1}}) {{fyndManyItem.description}}
                            </ng-container>
                        </mat-cell>
                    </ng-container>
                    <ng-container *ngIf="column.columnType === 'findOne'">
                        <mat-cell *matCellDef="let element" [style.width.px]="column.rowWidth" [style.height.px]="48" [style.lineHeight.px]="48" [ngClass]="{ 'filter-flag': element.filteFlag }">
                            <ng-container *ngIf="element['_' + column.name]">{{ element['_' + column.name].description }}</ng-container>
                            <ng-container *ngIf="!element['_' + column.name]"></ng-container>
                        </mat-cell>
                    </ng-container>
                    <ng-container *ngIf="column.columnType === 'findUser'">
                        <mat-cell *matCellDef="let element" [style.width.px]="column.rowWidth" [style.height.px]="48" [style.lineHeight.px]="48" [ngClass]="{ 'filter-flag': element.filteFlag }">
                            <ng-container *ngIf="element['_' + column.name]">{{ element['_' + column.name].username }}</ng-container>
                            <ng-container *ngIf="!element['_' + column.name]"></ng-container>
                        </mat-cell>
                    </ng-container>
                    <ng-container *ngIf="column.columnType === 'findSimple'">
                        <mat-cell *matCellDef="let element" [style.width.px]="column.rowWidth" [style.height.px]="48" [style.lineHeight.px]="48" [ngClass]="{ 'filter-flag': element.filteFlag }" (contextmenu)="openContextMenu($event, element.id,  column.name, activeLayer)">
                            <div *ngIf="linkDetector(element[column.name])">
                                <a href="{{element[column.name]}}" target="_blank">{{element[column.name]}}</a>
                            </div>
                            <div *ngIf="!linkDetector(element[column.name])"> {{element[column.name]}} </div>
                            <context-menu [featureId]="element.id" [columnName]="column.name"></context-menu>
                        </mat-cell>
                    </ng-container>
                    <ng-container *ngIf="column.columnType === 'findNumber'">
                        <mat-cell *matCellDef="let element" [style.width.px]="column.rowWidth" [style.height.px]="48" [style.lineHeight.px]="48" [ngClass]="{ 'filter-flag': element.filteFlag }">
                            {{element[column.name]}}
                        </mat-cell>
                    </ng-container>
                    <ng-container *ngIf="column.columnType === 'findDate'">
                        <mat-cell *matCellDef="let element" [style.width.px]="column.rowWidth" [style.height.px]="48" [style.lineHeight.px]="48" [ngClass]="{ 'filter-flag': element.filteFlag }">
                            {{ element[column.name] | date:"dd.MM.yyyy"}}
                        </mat-cell>
                    </ng-container>
                </ng-container>
                <mat-header-row *matHeaderRowDef="layer.displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: layer.displayedColumns;"></mat-row>
            </mat-table>
        </ng-container>
    </ng-container>
</div>

<div color="white" class="toolbar header-table-elements" style="display:flex;flex-direction:row;justify-content: space-between;justify-content: center;">
    <ng-container *ngIf="activeLayer">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#ff6d00" d="M12,15.5A3.5,3.5 0 0,1 8.5,12A3.5,3.5 0 0,1 12,8.5A3.5,3.5 0 0,1 15.5,12A3.5,3.5 0 0,1 12,15.5M19.43,12.97C19.47,12.65 19.5,12.33 19.5,12C19.5,11.67 19.47,11.34 19.43,11L21.54,9.37C21.73,9.22 21.78,8.95 21.66,8.73L19.66,5.27C19.54,5.05 19.27,4.96 19.05,5.05L16.56,6.05C16.04,5.66 15.5,5.32 14.87,5.07L14.5,2.42C14.46,2.18 14.25,2 14,2H10C9.75,2 9.54,2.18 9.5,2.42L9.13,5.07C8.5,5.32 7.96,5.66 7.44,6.05L4.95,5.05C4.73,4.96 4.46,5.05 4.34,5.27L2.34,8.73C2.21,8.95 2.27,9.22 2.46,9.37L4.57,11C4.53,11.34 4.5,11.67 4.5,12C4.5,12.33 4.53,12.65 4.57,12.97L2.46,14.63C2.27,14.78 2.21,15.05 2.34,15.27L4.34,18.73C4.46,18.95 4.73,19.03 4.95,18.95L7.44,17.94C7.96,18.34 8.5,18.68 9.13,18.93L9.5,21.58C9.54,21.82 9.75,22 10,22H14C14.25,22 14.46,21.82 14.5,21.58L14.87,18.93C15.5,18.67 16.04,18.34 16.56,17.94L19.05,18.95C19.27,19.03 19.54,18.95 19.66,18.73L21.66,15.27C21.78,15.05 21.73,14.78 21.54,14.63L19.43,12.97Z" />
            </svg>
        </button>
        <mat-menu #menu="matMenu">
            <mat-checkbox (click)="$event.stopPropagation()" disableRipple="true" style="padding: 4px 8px;position:  relative;display:  block;" [(ngModel)]="activeLayer.showOnlySelected" (change)="setOnlySelected(activeLayer)">только выбранные</mat-checkbox>
            <button mat-menu-item [matMenuTriggerFor]="displayColumns">настроить колонки</button>
            <mat-menu #displayColumns="matMenu" class="mat-menu-display-columns">
                <ng-container *ngIf="activeLayer && activeLayer.visible">
                    <ng-container *ngFor="let column of activeLayer.columns">
                        <mat-checkbox (click)="$event.stopPropagation()" disableRipple="true" style="padding: 4px 8px;position: relative;display: block;" (change)="hideOrShowColumns(column.name, activeLayer)" [checked]="columnIsVisible(column.name)"> {{column.label}}</mat-checkbox>
                    </ng-container>
                </ng-container>
            </mat-menu>
        </mat-menu>
        <label class="selected-elements-counter">Выбрано объектов: {{ activeLayer.selectedFeatures.selected.length }}</label>
        <button mat-button color="primary" (click)="editSelected()" *ngIf="activeLayer.selectedFeatures.selected.length" style="margin: 0 16px;">Редактировать выбранные</button>
        <button mat-button color="primary" (click)="clearFilters()" style="margin: 0 16px;">Очистить фильтры</button>
    </ng-container>
    <mat-form-field style="width: 240px;margin-left:auto;margin-right: 20px;">
        <mat-select [formControl]="inspectLayerAttributeTable">
            <mat-option *ngIf="!activeLayer " value="None ">Нет активных слоев</mat-option>
            <mat-option *ngFor="let avaliableLayer of avaliableLayers" [value]="avaliableLayer.id" [disabled]="!avaliableLayer.visible">{{avaliableLayer.labelName}} </mat-option>
        </mat-select>
    </mat-form-field>
</div>