.filter-result-card {
    height: 100%;
    padding: 0 0 0 8px;
    min-height: 160px;
}

.filter-result-card_actions {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    left: -8px;
    position: relative;
    padding-right: 0px !important;
    padding-left: 8px;
}

.filter-result-card_list {
    height: calc(100% - 58px);
    padding-top: 8px;
}